* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    font-size: 18px;
    background-color:#FFFFFF;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    gap: 32px;
    width: 100%;
    max-width:1280px;
    margin: 0 auto;
}
.gen__page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width:1280px;
}
.nav {
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 83px;
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}
.header__sign-in {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 8px 20px;
    width: 111px;
    height: 36px;
    color: white;
    background: #156963;
}
.header__sign-up {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #156963;
    padding: 8px 0;
    width: 111px;
    height: 36px;
}
.gen__img {
    width: 608px;
    height: 740px;
}
.gen__page__img {
    width: 608px;
    height: 740px;
}
.gen__img {
    width: 608px;
    height: 740px;
}
.gen__page__right {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}
.gen__page__cont {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 685px;
    top: 186px;
    width: 519px;
    height: 286px;
    gap: 24px;
}
h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 83px;
    color: #156963;
}
.gen__page_text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #2C1500;
    opacity: 0.8;
}
.gen__page__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.gen__page__leftbtn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 260px;
    height: 60px;
    margin-top: 10px;
}
.left__btn:hover {
    cursor: pointer;
    color: #747474;
}
.bot__txt-btn-1, .bot__txt-btn-2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    font-weight: 500;
    font-size: 32px;
}
.top__txt-btn-1, .top__txt-btn-2 {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 10px;
    color: #333333;
    opacity: 0.7;
    position: relative;
}
.top__txt-btn-1 {
    margin-left: 33px;
}
.top__txt-btn-2 {
    color: #F2F2F2;
}
.bot__txt-btn-1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #156963;
}
.bot__txt-btn-2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}
.top__txt-btn-1:before {
    content: url('../img/arrow-back.png');
    position: absolute;
    left: -35px;
    top: -2px;
    margin-right: 10px;
}
.gen__page__rightbtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 320px;
    height: 160px;
    background-color:#156963;
    padding-left: 49px;
}
.top__txt-btn-2::after {
    content: url('../img/Vector.png');
    margin-left: 10px;
    position: absolute;
    right: -35px;
    top: 2px;
}
.service {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    left: 56px;
    top: 882px;
    gap: 32px;
}
.uslugi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    height: 155px;
    border: 1px solid #E0E0E0;
}
.uslugi__inside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 236px;
    height: 112px;
}
.uslugi_h {
    display: flex;
    font-family: 'Montserrat';
    vertical-align: top;
    font-weight: 700;
    font-size: 16px;
    width: 137px;
    height: 48px;
    line-height: 24px;
    color: #156963;
}
.uslugi_h-2 {
    width: 100%;
    height: 48px;
}
.uslugi_h-1::before {
    content: url('../img/fast 1.png');
    margin-right: 20px;
}
.uslugi_h-2::before {
    content: url('../img/Vector2.png');
    margin-right: 20px;
}
.uslugi_h-3::before {
    content: url('../img/plant 1.png');
    margin-right: 20px;
}
.uslugi_h-4::before {
    content: url('../img/dollar-symbol 1.png');
    margin-right: 20px;
}
.uslugi_txt {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #2C1500;
}
.cactus__page {
    position: absolute;
    width: 1168px;
    height: 352px;
    left: 56px;
    top: 1117px;
}
.feat_plants {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
hr {
    opacity: 0.3;
    margin: 20px 0;
}
.cactus {
    width: inherit;
    width: 1168px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.cactus__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h5 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    padding: 10px 0;
}
h4 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.h__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 12px;
    gap: 10px;
    width: 130px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
}
option {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    color: #000000;
}
option::after {
    content: url('../img/Vector3.png');
    margin-left: 10px;
}
.third__page {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 1165px;
    height: 609.9px;
    left: 58px;
    top: 1549px;
}
.third__page__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 568px;
    height: 609.9px;
}
.third__page__h {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #2C1500;
}
.third__page__txt {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #2C1500;
    opacity: 0.8;
    margin-bottom: 70px;
}
.fourth__page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 56px;
    top: 2267px;
    width: 1168px;
    background-color: #F3F4F6;
}
.fourth__page__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 583px;
    height: 184px;
}
.fourth__page_h {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #2C1500; 
}
.fourth__page_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 40px;
    background-color: #156963;
    border: 1px solid #156963;
}
.fourth__page_btntxt {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 14px;
    color: #FAFEFE;
}
.footer {
    border-top: 1px solid rgba(128, 128, 128, 0.309);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 2739px;
    padding: 50px 100px;
}
h6 {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 16px;    
    color: #333333;
}
.h__txt {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 13px;
    color: #4F4F4F;
}
.footer__middle_txt {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}
.footer__part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__left_part {
    width: 282px;
    height: 137px;
}
.planktu {
    font-family: 'Poppins';
    text-align: left;
    font-weight: 500;
    font-size: 24px;
    color: #156963;
}
.footer__middle_part {
    height: 82px;
}
.footer__fourth_part {
    width: 234px;
    height: 98px;
}
.footer__fourth_txt { 
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    opacity: 0.5;
}
input {
    border: 1px solid rgba(0, 0, 0, 0.185);
    width: 234px;
    height: 32px;
    padding-left: 10px;
}
.footer_fourth_btn {
    padding: 4px 12px;
    width: 51px;
    height: 22px;
    background-color: #156963;
    color: white;
}
.submit {
    font-weight: 500;
    font-size: 8px;
    text-align: center;
    color: #FFFFFF;
}
.button:hover {
    cursor: pointer;
    background-color: #156963b9;
}






